@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$spcl-font: 'White Rabbit';
$default-font: 'Roboto Mono';
$bg-color:#2D2E32;
$bg-color-darker:#252429;
$highlight-color:#56E85B;
$lighter-color:#ABABAB;


html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $default-font;
    max-width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background-color: $bg-color;
    color: white;
    position: relative;
}

.landing_page {
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        z-index: -10;
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #35363D;
        top: -30%;
        left: -45%;
        transform: rotate(140deg);
    }

    nav {
        display: grid;
        grid-template-columns: .5fr 2fr .8fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo links slinks";
        width: 100%;
        max-height: 80px;
        height: 100%;
        overflow: hidden;
        // position: fixed;
        top: 0;


        .logo {
            text-align: center;
            font-family: $spcl-font;
            margin: auto;
            grid-area: logo;
            font-size: 2rem;
            font-weight: 600;
        }

        .nav__links {
            width: 80%;
            height: 100%;
            margin: auto;
            grid-area: links;
            list-style-type: none;
            font-family: $default-font;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            font-size: .9rem;
            color: $lighter-color;
            font-weight: 800;

            li {
                margin: 10px;
                cursor: pointer;
            }

            :nth-child(1) {
                color: $highlight-color;
                margin-top: 4px;

                &::after,
                &::before {
                    content: '.';
                    font-size: 1.5rem;
                }
            }
        }

        .nav__links__social {
            margin: auto;
            grid-area: slinks;
            list-style-type: none;
            font-family: $default-font;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            font-size: .9rem;


            li {
                cursor: pointer;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 10px;

                img {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }

    }

    .landing_page__text {
        position: absolute;
        top: 45%;
        left: 100px;
        transform: translate(-0%, -50%);

        .button_style {
            padding: 5px;
            background-color: $highlight-color;
            color: black;
            border-radius: 6px;
            font-size: .8rem;
            font-weight: bold;
        }

        p {
            margin: 5px 0;
            width: 60%;
            font-size: 3rem;
            color: $lighter-color;
            font-weight: bold;
        }

        span {
            font-size: 1rem;
            color: $lighter-color;
        }
    }

    .landing_page__numbers {
        position: absolute;
        top: 88%;
        left: 100px;
        transform: translate(-0%, -50%);
        width: 500px;
        height: 100px;
        // background-color: #56E85B;
        display: flex;
        align-items: center;


        p {
            font-size: 3rem;
            font-family: "TIFAX Alpha";
            margin: 0;
            position: relative;
            margin-right: 100px;
        }

        #experience::after {
            content: "Year's of experience";
            position: absolute;
            font-size: .8rem;
            font-family: $default-font;
            opacity: .6;
            font-weight: 200;
        }

        #projects::after {
            content: "Projects";
            position: absolute;
            top: 10px;
            font-size: .8rem;
            font-family: $default-font;
            font-weight: 200;
            opacity: .6;
        }
    }

    .landing_page__circle {
        position: absolute;
        max-width: 600px;
        height: 645px;
        overflow: hidden;
        top: 30%;
        right: 0%;
        transform: translate(-0%, -15%);


        img {
            margin: auto;
            width: 90%;
        }
    }
}

.about_page {
    width: 100%;
    height: 100vh;
    background-color: $bg-color-darker;
    position: relative;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cards about";


    .cards {
        grid-area: cards;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 30px 10px;

        .card {
            margin: auto;
            width: 80%;
            max-height: 100px;
            height: 100%;
            overflow: hidden;
            border-radius: 19px;
            background-color: $bg-color;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 30px;
            transition: all linear 100ms;

            &:hover {
                box-shadow: 1px 5px 53px -13px rgba(0, 0, 0, 0.6);
                transform: scale(1.01);
            }

            span {
                color: $highlight-color;
                font-size: 1rem;
                font-weight: 600;
            }

            p {
                color: #B4B4B4;
                font-size: .9rem;

            }
        }
    }

    .about_me {
        grid-area: about;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
        margin-top: 30px;


        .whoami {
            color: $highlight-color;
            font-size: 1rem;
        }

        h1 {
            margin: 0;
            margin-bottom: 10px;
        }

        .quote {
            font-style: italic;
            font-size: .9rem;
            opacity: .7;
        }

        p {
            margin-top: 50px;
            padding: 0;
            font-size: 1rem;
            line-height: 1.7;
        }

    }
}

.certifications {
    width: 100%;
    min-height: 70vh;
    padding-bottom: 50px;
    background-color: $bg-color-darker;

    h1 {
        padding: 50px;
        margin: 0;
    }

    .certfications__timeline {
        padding: 0 50px;
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-start;
        // align-items: flex-start;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;

        .timeline {
            margin-right: 40px;
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "year award1"
                "blank award2";



            .year {
                grid-area: year;
                position: relative;
                color: $highlight-color;

                &::after {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 1px;
                    background-color: $highlight-color;
                    top: 15%;
                    left: 60%;
                    transform: translate(-50%, -50%);
                }

            }

            .certs {
                height: 70px;
                width: 100%;

                .awarding_org {
                    color: $lighter-color;
                    display: block;
                }
            }

            #1 {
                grid-area: award1;
            }

            #2 {
                grid-area: award2;
            }

            #3 {
                grid-area: award3;
            }

        }

    }
}


footer {
    width: 100%;
    max-height: 270px;
    height: 100%;
    overflow: hidden;
    background-color: $bg-color-darker;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas:
        "links links links"
        "copy blank social";

    position: relative;

    &::after {
        content: '';
        z-index: 1;
        height: 170%;
        width: 100%;
        position: absolute;
        background-color: #35363D;
        top: 30%;
        left: 25%;
        transform: rotate(140deg);
    }

    .footer_links {
        grid-area: links;
        // background-color: #56E85B;
        position: relative;


        ul {
            margin-top: 60px;
            list-style-type: none;
            font-size: .9rem;

            li {
                margin: 10px;

                a {
                    &:hover {
                        color: $highlight-color;
                        cursor: pointer;
                    }
                }
            }
        }

        &::after {
            content: '';
            z-index: 2;
            left: 5%;
            width: 90%;
            padding: .6px;
            position: absolute;
            background-color: $lighter-color;
            opacity: .6;
            top: 10%;
        }

    }

    .copy {
        grid-area: copy;
        // background-color: aliceblue;
        text-align: left;
        padding: 20px;
        font-weight: 200;
        font-size: .8rem;
        opacity: .6;
        margin: auto 30px;
    }

    .social_icons {
        grid-area: social;
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        margin-right: 30px;

        a {
            font-size: .9rem;

            img {
                transform: scale(0.6);
            }
        }
    }

    .blank {
        grid-area: blank;
    }
}


@media screen and (max-width:1200px) {
    .landing_page {
        &::after {
            top: -40%;
            left: -45%;
        }

        nav {
            .nav__links__social {
                margin: 0;
            }
        }

        .landing_page__circle {
            max-width: 500px;
            right: 5%;

            img {
                width: 100%;
            }
        }
    }


    .certifications .certfications__timeline {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .timeline {
            margin-right: 40px;
            grid-template-columns: 0.5fr 3fr;
            grid-template-rows: 1fr;
        }
    }

}

@media screen and (max-width:1090px) {
    .landing_page {
        &::after {
            top: -45%;
            left: -45%;
        }

        nav {
            .nav__links__social {
                margin: 10px;
            }
        }


        .landing_page__text {
            p {
                width: 95%;
            }
        }

        .landing_page__numbers {
            top: 81%;

            p {
                font-size: 4rem;
            }
        }

        .landing_page__circle {
            display: none;
        }
    }
}

@media screen and (max-width:1000px) {
    .landing_page {
        &::after {
            width: 150%;
            top: -45%;
            left: -55%;
        }

        nav {
            display: none;
        }


        .landing_page__text {
            left: 14%;

            p {
                width: 95%;
            }
        }

        .landing_page__numbers {
            display: flex;
            flex-direction: row;
            margin: 0;
            left: 0;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;

            p {
                text-align: center;
                font-size: 3.5rem;
            }
        }
    }
}

@media screen and (max-width:845px) {
    .about_page {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 1fr;
        grid-template-areas: "about"
            "cards";

        .cards {
            grid-area: cards;

            .card {
                height: fit-content;
                margin: 10px auto;
            }
        }

        .about_me {
            grid-area: about;
            height: auto;

            p {
                margin-top: 30px;
            }
        }
    }

    .certifications {
        display: flex;
        flex-direction: column;
        font-size: 110%;



        .certfications__timeline .timeline {
            grid-template-columns: .9fr 1fr;

            .year::after {
                width: 80px;
                left: 45%;

            }
        }

    }

    footer {
        grid-template-columns: 2fr 1fr 1fr;
    }
}

@media screen and (max-width:625px) {

    footer::after {
        top: 45%;
        left: 40%;
    }

    .certifications {

        .certfications__timeline {
            .timeline {
                grid-template-columns: .5fr 1fr;

                .year::after {
                    width: 70px;
                    left: 65%;
                }
            }
        }
    }
}


@media screen and (max-width:550px) {
    .landing_page::after {
        width: 150%;
        top: -49%;
        left: -71%;
    }

    footer::after {
        top: 45%;
        left: 40%;
    }

    footer {
        grid-template-areas:
            "links links links"
            "copy copy social";
        position: relative;
    }

    .certifications {

        .certfications__timeline {
            .timeline .certs {
                height: 85px;
                width: 100%;


            }

            .timeline {
                .year::after {
                    width: 50px;
                    left: 65%;
                }
            }
        }
    }
}

@media screen and (max-width:490px) {

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "links links links"
            "social social social"
            "copy copy copy";

        &::after {
            top: 40%;
            left: 53%;
        }

        .copy {
            z-index: 10;
            padding: 16px;
            text-align: center;
        }

        .social_icons {
            justify-content: center;
            margin: 0;
            padding: 0px;
        }
    }

    .landing_page {
        .landing_page__text {
            left: 12%;
        }

        &::after {
            top: -54%;
            left: -78%;
        }

    }

    .certifications {

        .certfications__timeline {
            .timeline {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: "year year"
                    "award1 blank";

                .year {
                    margin-bottom: 20px;
                    font-size: 1.5rem;
                    font-weight: bold;

                    &::after {
                        width: 70px;
                        left: 40%;
                        top: 48%;

                    }
                }
            }
        }
    }


}